* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 555;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
}

header { 
    display: block;
    background-color: #3d0164;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    background-color: #3d0164;
    color: rgb(255, 252, 252);
    padding: 5px 5px;
    border-radius: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.navlinks {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navlinks a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    white-space: nowrap;
}

.biografia {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    background: linear-gradient(90deg, #3d0164, #c172f5);
    color: white;
}

.biografia-text {
    max-width: 600px;
}

.biografia-text h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
    line-height: 1.1;
}

.biografia-text h2 {
    font-size: 1.5rem;
    font-weight: 400;
    opacity: 0.9;
}

.biografia-img img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px 40px;
}

.contenedor {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

article.caja-informacion {
    flex: 2;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

aside.caja-datos {
    flex: 1;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3d0164;
}

blockquote {
    margin-top: 25px;
    padding: 20px;
    background-color: #efd7f3;
    border-left: 5px solid #530885;
    font-style: italic;
    color: #000000;
    border-radius: 0 8px 8px 0;
}

#sobre-mi h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#sobre-mi h3 {
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}